<button id = "logoutButton" class="buttonsOnTop"><a href="./logout">logout</a></button>
<button id = "backToMainTopics" class="buttonsOnTop"><a href="/">see all topics</a></button>
<button id = "backToMainTopics" class="buttonsOnTop"><a href="/forum/post">post a new topic</a></button>
