p { 
	white-space: pre; 
}

#commentsHolder {
    width: 80%;
    /* align-items: center; */
    display: block;
    padding: 0 10%;
}

.titleText {
    font-size: 2.5em;
    margin: 10%;
}

.aCommentText {
    font-size: 1.5em;
    margin: 10%;
}

#allTopics {
	padding: 3%;
}
#MyID {
width: 200px;
}

.topicTitle {
	display: inline-block;
	width: 40%;
}

.topicAuthor {
	display: inline-block;
	width: 15%;
}

 .topicDate {
	display: inline-block;
	width: 25%;
}

.topicHolder:nth-child(even) {
	background: #C5C5C5
}

.topicHolder:nth-child(odd) {
	background: #E8E8E8
}