p { 
	white-space: pre-wrap; 
}

#commentsHolder  {
    width: 60%;
    padding: 0 3%;
    margin: 0 0 2% 0;
}

.titleText {
    font-size: 2.5em;
    border-bottom: .1em dotted #009688;
}

.postText {
    font-size: 1.1em;
}

#allTopics {
	padding: 3%;
}
#MyID {
width: 200px;
}

.topicTitle {
	display: inline-block;
	width: 50%;
}

.topicAuthor {
	display: inline-block;
	width: 15%;
}

.topicDate {
	display: inline-block;
	width: 25%;
}

.topicHolder:nth-child(even) {
	background: #C5C5C5
}

.topicHolder:nth-child(odd) {
	background: #E8E8E8
}
#allTopicsUpperHolder {
    width: 80%;
	padding: 0 3%;
}

#singleTopicUpperHolder {
    width: 56%;
    padding: 0 3%;
    margin: 0 0 2% 0;
}

#upperHolder {
    width: 80%;
	padding: 0 3%;
    margin: 0 0 2% 0;	
}

#formHolder {
    width: 55%;
    padding: 0 3%;
    margin: 0 0 2% 0;
}

/*/created with help from *http://button.csscook.com/*/
input[type=submit] {
 	border : solid 1px #e6e6e6;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #696869;
	padding : 1px 17px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);

}


.buttonsOnTop {
	font-weight: bold;
    margin: 1em 2em;
    padding: .5em 3em;
    border : solid 1px #e6e6e6;
 	border-radius: 3px;
 	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
}


.CodeMirror-scroll {
    min-height: 213px;
}


.CodeMirror {
    height: auto;
    min-height: 256px;
}

#loginDiv {
    transform: translateY(80%);
    top: 50%;
    margin: 0 35%;
    width: 50%;
}

img {
    max-height: 300px;
}

#registerHere {
    margin: 3em 0;
}


#titleTextDiv {
    color: #607D8B;
    white-space: nowrap;
    word-wrap: break-word;
    /* width: 100px; */
}


#editFormHolder {
    width: 80%;
    margin: 0 3%;
}
