<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<html>
    <body>
        <h1>Register</h1>
        <form action="/user/register" method="POST">
            <input type="text" name="username" placeholder=""/>
            <input type="password" name="password" placeholder=""/>
            <input type="submit" value="Register"/>
        </form>
    </body>
</html>

</body>
</html>