        <% include ../partials/head %>

	<title></title>
</head>
<body>

<html>
    <body>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Lyn"/>
            <input type="password" name="password" placeholder="123"/>
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>

</body>
</html>