        <% include ../partials/head %>
    <title></title>
</head>

<body>
        <% include ../partials/navbar %>

<a href="forum/post">Post a new topic</a>
<br>
    Your topics are:
    <br>
    <% for (var i = 0; i <  userData.length; i++) { %>
        <br>
        <% var noDash = userData[i].title %>
        <% var addDash = noDash.replace(/\s+/g, '_') %>
        <a href="forum/topics/<%= addDash %>"><%= userData[i].title %></a> by <%= userData[i].username %>
     <% } %>
</body>

</html>
