        <% include ../partials/head %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>

        <script   src="https://code.jquery.com/jquery-3.0.0.js"   integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo="   crossorigin="anonymous"></script>
        <script type="text/javascript" src="app.js"></script>
    <title></title>
</head>

<body>
        <% include ../partials/navbar %>
<div id="allTopicsUpperHolder">

<h1><span>Your topics are:</span></h1>
</div>

     <section id= "allTopics">
       <% for (var i = 0; i <  userData.length; i++) { %>
        
        <% var noDash = userData[i].title %>
        <% var addDash = noDash.replace(/\s+/g, '_') %>
       
       <div class="topicHolder">
           <div class = "topicTitle">  
            <a href="forum/topics/<%= addDash %>"><%= userData[i].title %></a>
            </div>
                    
           <div class = "topicAuthor">    
           <%= userData[i].username %>
            </div>

            <div class = "topicDate">    
            <span class = "forumDate"><%= userData[i].forumDate %></span>
            </div>

        </div>
     <% } %>

     </section>
</body>

</html>
