        <% include ../partials/head %>
<style type="text/css">
	p { white-space: pre; }
</style>
	<title></title>
</head>
<body>

<html>
    <body>
        <h1>Comment form</h1>

        <form action="/forum" method="POST">
            <input type="text" name="title" placeholder=""/>
            <br/>
            <textarea name="commentText"/></textarea>

            <input type="submit" value="submit"/>
        </form>

    </body>
</html>

</body>
</html>