        <% include ../partials/head %>
<script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/simplemde/1.11.2/simplemde.min.js"></script>
  <script src="../../marked.js"></script>
<script type="text/javascript" src="../../app.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/simplemde/1.11.2/simplemde.min.css">
<link rel="stylesheet" href="../../css/stylesheet.css">

<body>

<html>
    <body>


        <button id = "logoutButton" class="buttonsOnTop"><a href="../logout">logout</a></button>
        <button id = "backToMainTopics" class="buttonsOnTop"><a href="/">all topics</a></button>
        <button id = "backToMainTopics" class="buttonsOnTop"><a href="/forum">your topics</a></button>


      <div id="formHolder">
          <h1>Write a topic</h1> You are logged in as
          <%= sessionName %>
            <form action="/forum/post" method="POST">
              <fieldset class="form-group">
                  <label>Post title</label>
                  <input type="text" name="title" placeholder="" class="form-control" />
                  <br/>
                  <input type="hidden" name="username" value="<%= sessionName %>" class="form-control">
                  <br/>
                  <input type="text" name="forumDate" value="<%= dateNow %>" class="form-control">
                  <br/>
                  <input type="text" name="vote" value="0" class="form-control">
                  <br/>
                  <label>What do you want to say?</label>
                  <textarea name="forumText" class="form-control" /></textarea>
              </fieldset>
              <input type="submit" value="submit" />
        </form>
</div>

    </body>
</html>

</body>
</html>