<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

	<title></title>
</head>
<body>

Title: <%= userData.title %>
<br>
Body:  <%= userData.forumText %>
</body>
</html>